infrastructure/stepfunctions.json
{
  "Comment": "A dummy step function",
  "StartAt": "GetModels",
  "States": {
    "GetModels": {
      "Type": "Task",
      "Parameters": {
        "FilePath": "evaluation_artifacts/models.json",
        "RepositoryName": "llm-evaluation"
      },
      "Resource": "arn:aws:states:::aws-sdk:codecommit:getFile",
      "ResultSelector": {
        "models.$": "States.StringToJson($.FileContent)"
      },
      "Next": "Evaluate_Models"
    },
    "Evaluate_Models": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "GetPrompt",
        "States": {
          "GetPrompt": {
            "Type": "Task",
            "Parameters": {
              "FilePath": "evaluation_artifacts/evaluation_prompt.csv",
              "RepositoryName": "llm-evaluation"
            },
            "Resource": "arn:aws:states:::aws-sdk:codecommit:getFile",
            "ResultSelector": {
              "prompts.$": "$.FileContent"
            },
            "ResultPath": "$.prompts",
            "Next": "Invoke_LLM"
          },
          "Invoke_LLM": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:ap-southeast-2:620428855768:function:invoke_llm:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "OutputPath": "$.Payload",
            "Next": "Evaluate_LLM"
          },
          "Evaluate_LLM": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:ap-southeast-2:620428855768:function:llm_evaluation:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.models",
      "Next": "check_result"
    },
    "check_result": {
      "Type": "Pass",
      "End": true
    }
  }
}